---
title: sNow!
layout: default
---
			
<!-- Banner -->
	<section id="banner">
		<header>
			<h2>sNow!: <em> The Open Source Cluster Manager Solution</em></h2>
			<a href="#" class="button">Live Demo</a>
		</header>
	</section>

<!-- Highlights 1 -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-paper-plane"></i>
						<h3>Fast Learning Curve</h3>
						<p>Intuitive and easy to learn CLI allows to get the basic skills to control your compute resources.</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-wrench"></i>
						<h3>Flexibility</h3>
						<p>sNow! allows to integrate a consolidated IT enviroment wihtout overhead. The hook rich architecture allows to integrate uncommon needs easily.</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-line-chart"></i>
						<h3>Scalability</h3>
						<p>Designed and architected to overcome scalability challenges.</p>
					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Join the community -->
	{% include cta.html %}

<!-- Highlights 2 -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-users"></i>
						<h3>Community Driven</h3>
						<p>sNow! is not only Open Source, it's community driven. Your feedback, suggestions and requiremends have an impact in the development and in the roadmap of the project</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-briefcase"></i>
						<h3>Professional Support</h3>
						<p>You can get professional support from <a href="http://hpcnow.com">HPCNow!</a> or other consulting and hardware vendor companies. Soon we will publish a <a href="#">list of companies</a> that have proven skills and understanding of sNow! to provide high quality professional support.</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-trophy"></i>
						<h3>Best User Experience</h3>
						<p>The main objective is to enable research and be able to provide a painless computational infrastructure for the end users.</p>
					</div>
				</section>
			</div>
		</div>
	</section>
<!-- Gigantic Heading -->
<!--
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>A gigantic heading you can use for whatever</h2>
				<p>With a much smaller subtitle hanging out just below it</p>
			</header>
		</div>
	</section>
-->
<!-- Community Feedback -->
<!--
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="http://linkedin.com/USER_PROFILE" class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3>Name Surname (Institution)</h3>
							<p>Honest feedback from a relevant and influyent community member</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="http://linkedin.com/USER_PROFILE" class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3>Name Surname (Institution)</h3>
							<p>Honest feedback from a relevant and influyent community member</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a href="http://linkedin.com/USER_PROFILE" class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3>Name Surname (Institution)</h3>
							<p>Honest feedback from a relevant and influyent community member</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a href="http://linkedin.com/USER_PROFILE" class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3>Name Surname (Institution)</h3>
							<p>Honest feedback from a relevant and influyent community member</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	
-->
	{% include training.html %}
