        <!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row ">
                        <div class="6u">
                            <div class="row collapse-at-2">
                                <section class="6u">
                                    <h3>Getting Started</h3>
                                    <ul class="links">
                                        <li><a href="https://hpcnow.github.io/snow-documentation/mydoc_os_installation.html">Installation</a></li>
                                        <li><a href="https://hpcnow.github.io/snow-documentation/">Documentation</a></li>
                                        <li><a href="https://hpcnow.github.io/snow-documentation/mydoc_quick_reference_sheet.html">Quick Reference Guide</a></li>
                                        <li><a href="{{ site.baseurl }}/support.html">Professional Support</a></li>
                                    </ul>
                                </section>
                                <section class="6u">
                                    <h3>Getting Involved</h3>
                                    <ul class="links">
                                        <li><a href="https://bitbucket.org/hpcnow/snow-tools">Source Code</a></li>
                                        <li><a href="https://hpcnow.github.io/snow-documentation/mydoc_contribute_back.html">Contribute Back</a></li>
                                        <li><a href="https://www.eventbrite.es/o/hpcnow-8641495982">Training</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="6u">
                            <div class="row collapse-at-2">
                                <section class="6u">
                                <h3>Contact</h3>
                                <!--
                                -->
                                <a href="{{ site.baseurl }}/contact.html"><img height=300 src="{{ site.baseurl }}/assets/images/world-map-shape.png" alt="" /></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Icons -->
                    <ul class="icons">
                        <li><a href="http://twitter.com/hpc_now" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="http://facebook.com/hpcnow" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="http://github.com/hpcnow/" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="http://bitbucket.org/hpcnow/" target="_blank" class="icon fa-bitbucket"><span class="label">GitHub</span></a></li>
                        <li><a href="http://www.linkedin.com/company-beta/2810910/" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; <a href="http://hpcnow.com" target="_blank">HPCNow!</a>. All rights reserved</li>
                        </ul>
                    </div>
            </div>
    </body>
</html>
