<!DOCTYPE HTML>
<html>
	<head>
		<title>sNow! Cluster Manager</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
						
				<!-- Logo -->
					<h1><a href="{{ site.baseurl }}/index.html" id="logo">sNow!<em> Cluster Manager</em></a></h1>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							{% assign current = page.url | downcase | split: '/' %}
							<li {% if current[1] == 'index.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
							<li>
								<a href="">About</a>
								<ul>
									<li><a href="#">Demo</a></li>
									<li><a href="#">Training</a></li>
									<li><a href="http://hpcnow.com/index.php/company/about-us" target="_blank">About HPCNow!</a></li>
                                    <li><a href="{{ site.baseurl }}/support.html">Support</a></li>
                                    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
								</ul>
							</li>
							<li {% if current[1] == 'blog' %}class="current"{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
							<li>
								<a href="">Documentation</a>
								<ul>
									<li><a href="https://hpcnow.github.io/snow-documentation/mydoc_os_installation.html">Install</a></li>
									<li><a href="https://hpcnow.github.io/snow-documentation/index.html">Quick Reference Guide</a></li>
									<li><a href="https://hpcnow.github.io/snow-documentation/mydoc_quick_reference_sheet.html">Quick Sheet</a></li>
									<li><a href="#">Reference Guide</a></li>
									<li><a href="#">Contribute Back</a></li>
								</ul>
							</li>
							<li>
								<a href="">Development</a>
								<ul>
									<li><a href="https://bitbucket.org/hpcnow/snow-tools">Source Code</a></li>
									<li><a href="https://bitbucket.org/hpcnow/snow-tools/issues">Issue Tracking</a></li>
									<li><a href="#">Contribute Back</a></li>
								</ul>
							</li>
							<li {% if current[1] == 'support.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/support.html">Support</a></li>
							<li {% if current[1] == 'contact.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
						</ul>
					</nav>

			</div>
